<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.lamport.tla.toolbox.tool.tlc.modelCheck">
    <stringAttribute key="configurationName" value="AccountingEngineM1"/>
    <intAttribute key="distributedFPSetCount" value="0"/>
    <stringAttribute key="distributedNetworkInterface" value="100.64.100.6"/>
    <intAttribute key="distributedNodesCount" value="1"/>
    <stringAttribute key="distributedTLC" value="off"/>
    <intAttribute key="fpIndex" value="24"/>
    <intAttribute key="maxHeapSize" value="25"/>
    <stringAttribute key="modelBehaviorInit" value="AEInit"/>
    <stringAttribute key="modelBehaviorNext" value="AENext"/>
    <stringAttribute key="modelBehaviorSpec" value=""/>
    <intAttribute key="modelBehaviorSpecType" value="2"/>
    <stringAttribute key="modelBehaviorVars" value="balances, transactions, lastAppliedTransaction"/>
    <stringAttribute key="modelComments" value=""/>
    <booleanAttribute key="modelCorrectnessCheckDeadlock" value="false"/>
    <listAttribute key="modelCorrectnessInvariants">
        <listEntry value="1AETypeOK"/>
        <listEntry value="1AEAllUptoDate =&gt; \forall g \in Groups: balances[g] = AESumOf[transactions, g]"/>
    </listAttribute>
    <listAttribute key="modelCorrectnessProperties">
        <listEntry value="1&lt;&gt;(AEAllUptoDate /\ ~AEInit)"/>
    </listAttribute>
    <intAttribute key="modelEditorOpenTabs" value="8"/>
    <stringAttribute key="modelExpressionEval" value=""/>
    <listAttribute key="modelParameterConstants">
        <listEntry value="Values;;{-1, 0, 1};0;0"/>
        <listEntry value="Groups;;{&quot;g1&quot;, &quot;g2&quot;};0;0"/>
    </listAttribute>
    <intAttribute key="modelVersion" value="20191005"/>
    <intAttribute key="numberOfWorkers" value="4"/>
    <stringAttribute key="result.mail.address" value=""/>
    <stringAttribute key="specName" value="AccountingEngine"/>
    <stringAttribute key="tlcResourcesProfile" value="local custom"/>
</launchConfiguration>
